html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body::-webkit-scrollbar{
  display: none;
}
a,
Link {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* Below are the CSS which are self made*/

.hero{
  display:flex;
  overflow:auto;
  -ms-overflow-style: none;
  scrollbar-width:none;
  margin-right:25px;
  margin-left:20px;
}
.hero::-webkit-scrollbar
{
  display: none;
}
.image{  
   border-radius: 360px;
}
.image1{
  position: relative;
   /* border-radius: 360px; */
}

.margintu8
{
  margin-top: -8px;
}
.marginbu5
{
  margin-bottom: -5px;
}
.margint4
{
  margin-top: 8px;
  align-self: center;
}
.marginl20{
margin-left: 20px;
}
.cards{
  display:grid;
  max-width:none;
  margin-left:20px;
  margin-right:20px;
  margin:0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}